<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/details.css">
    <!-- <script src="js/rem.js"></script> -->
</head>
<body>
    <div class="header">
        <div><img src="img/logo.png"></div>
        <div><p>装修预算</p></div>
        <div><img src="img\7文章详情页_spec_03.jpg"><p>导航</p></div>

    </div>
    <div class="banner">
        <img src="img\house_info.jpg">
    </div>
    <div class="main-top1">
        <p>房先森/装修攻略/装修预算/正文</p>
    </div>
    <div class="main-top2">
        <p>装修预算 注意事项 </p>
    </div>
    <div class="main-top3">
        <div>
            <img src="img\7文章详情页_spec_23.jpg">
            <p>2016-07-09</p>
        </div>
        <div>
                <img src="img\7文章详情页_spec_26.jpg">
                <p>115</p>
        </div>
    </div>
    <div class="main-top4">
        <div>客厅装修隔断</div>
        <div>客厅装修隔断</div>
        <div>客厅装修隔断</div>
        <div>客厅装修隔断</div>
        <div>客厅装修隔断</div>
        <div>客厅装修隔断</div>
    </div>
    <div class="main-top5">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;导语：在装修时如果没有提前最好装修预算，
            很容易造成最后开支过大，添置很多没必要的增项。
            那么在做预算的时候又有什么需要注意的地方呢？
        </p>
    </div>
    <div class="main-banner">
        <div><img src="img\7文章详情页_spec_07.jpg"></div>
    </div>
    <div class="main-top6">
        <div>点击展开全文</div>
    </div>
    <div class="main-top7">
        <div><img src="img\7文章详情页_spec_11.jpg"><p>评价（10）</p></div>
        <div><img src="img\7文章详情页_spec_13.jpg"><p>分享</p></div>
    </div>
    <div class="main-top8">
            <div>点击展开全文</div>
        </div>
        <div class="wn">
                <p>为您推荐</p>
        
            </div>
            <div class="hd">
                    <div class="he">
                        <div><img src="img\7文章详情页_spec_18.jpg"></div>
                        <div>
                            <p>房子交付要验房，验房师是做什么的？</p>
                            <p><img src="img\7文章详情页_spec_23.jpg"><span>2016-07-07</span><img src="img\7文章详情页_spec_26.jpg"><span>115</span></p>
                        </div>
                    </div>
                    <div class="he"> 
                            <div><img src="img\7文章详情页_spec_21.jpg"></div>
                            <div>
                                <p>房子交付要验房，验房师是做什么的？</p>
                                <p><img src="img\7文章详情页_spec_23.jpg"><span>2016-07-07</span><img src="img\7文章详情页_spec_26.jpg"><span>115</span></p>
                            </div>
                        </div>
        
                    <div class="he">
                                <div><img src="img\7文章详情页_spec_21.jpg"></div>
                                <div>
                                    <p>房子交付要验房，验房师是做什么的？</p>
                                    <p><img src="img\7文章详情页_spec_23.jpg"><span>2016-07-07</span><img src="img\7文章详情页_spec_26.jpg"><span>115</span></p>
                                </div>
                            </div>
                            <div class="he">
                                    <div><img src="img\7文章详情页_spec_18.jpg"></div>
                                    <div>
                                        <p>房子交付要验房，验房师是做什么的？</p>
                                        <p><img src="img\7文章详情页_spec_23.jpg"><span>2016-07-07</span><img src="img\7文章详情页_spec_26.jpg"><span>115</span></p>
                                    </div>
                                </div> 
                                <div class="he">
                                        <div><img src="img\7文章详情页_spec_18.jpg"></div>
                                        <div>
                                            <p>房子交付要验房，验房师是做什么的？</p>
                                            <p><img src="img\7文章详情页_spec_23.jpg"><span>2016-07-07</span><img src="img\7文章详情页_spec_26.jpg"><span>115</span></p>
                                        </div>
                                    </div>
                                    <div class="he">
                                            <div><img src="img\7文章详情页_spec_18.jpg"></div>
                                            <div>
                                                <p>房子交付要验房，验房师是做什么的？</p>
                                                <p><img src="img\7文章详情页_spec_23.jpg"><span>2016-07-07</span><img src="img\7文章详情页_spec_26.jpg"><span>115</span></p>
                                            </div>
                                        </div>
                                        <div class="he">
                                                <div><img src="img\7文章详情页_spec_18.jpg"></div>
                                                <div>
                                                    <p>房子交付要验房，验房师是做什么的？</p>
                                                    <p><img src="img\7文章详情页_spec_23.jpg"><span>2016-07-07</span><img src="img\7文章详情页_spec_26.jpg"><span>115</span></p>
                                                </div>
                                            </div>
                                            <div class="he">
                                                    <div><img src="img\7文章详情页_spec_18.jpg"></div>
                                                    <div>
                                                        <p>房子交付要验房，验房师是做什么的？</p>
                                                        <p><img src="img\7文章详情页_spec_23.jpg"><span>2016-07-07</span><img src="img\7文章详情页_spec_26.jpg"><span>115</span></p>
                                                    </div>
                                                </div>
                                                <div class="he">
                                                        <div><img src="img\7文章详情页_spec_18.jpg"></div>
                                                        <div>
                                                            <p>房子交付要验房，验房师是做什么的？</p>
                                                            <p><img src="img\7文章详情页_spec_23.jpg"><span>2016-07-07</span><img src="img\7文章详情页_spec_26.jpg"><span>115</span></p>
                                                        </div>
                                                    </div>
                                                    <div class="he">
                                                            <div><img src="img\7文章详情页_spec_18.jpg"></div>
                                                            <div>
                                                                <p>房子交付要验房，验房师是做什么的？</p>
                                                                <p><img src="img\7文章详情页_spec_23.jpg"><span>2016-07-07</span><img src="img\7文章详情页_spec_26.jpg"><span>115</span></p>
                                                            </div>
                                                        </div>  
                </div>
                
                <div class="weibo">
                        <p>&nbsp;&nbsp;&nbsp;
                            房先森互联网家装由别于传统装修公司与其他装修中介平台，以自营模式整合设计师与项目经理，杜绝项目转包外包，利用互联网将工地进行在线全景直播，通过去中间环节，提供装修套餐+个性化定制服务。
                        </p>
                </div>
                <div class="fw">
                    <img src="img\7文章详情页_spec_26.jpg">
                    <p>服务热线：4000-3528-900</p>
                </div>
                <div class="yes">
                    <p>触屏版</p>
                    <p>电脑版</p>
                    <p>联系我们</p>
                    <p>关于我们</p>
        </div>
</body>
</html>


